certifi==2020.12.5
chardet==4.0.0
click==7.1.2
configparser==5.0.1
cycler==0.10.0
cython==0.29.21
docker-pycreds==0.4.0
gitdb==4.0.5
gitpython==3.1.12
idna==2.10
kiwisolver==1.3.1
matplotlib==3.3.3
mkl-fft==1.2.0
mkl-random==1.2.0
mkl-service==2.3.0
numpy==1.19.2
olefile==0.46
opencv-python==4.5.1.48
pillow==6.2.2
pip==20.3.3
promise==2.3
protobuf==3.14.0
psutil==5.8.0
pycocotools==2.0.2
pyparsing==2.4.7
pyqt5-sip==12.8.1
pyqt5==5.15.2
python-dateutil==2.8.1
pyyaml==5.3.1
requests==2.25.1
sentry-sdk==0.19.5
setuptools==49.6.0.post20201009
shortuuid==1.0.1
six==1.15.0
smmap==3.0.4
subprocess32==3.5.4
torch==1.7.1
torchvision==0.8.2
tornado==6.1
tqdm==4.55.1
typing-extensions==3.7.4.3
urllib3==1.26.2
uuid==1.30
wandb==0.10.12
watchdog==1.0.2
wheel==0.36.2